= navbar brand: "Piersonally", brand_link: root_path, class: 'navbar-inverse' do
  = navbar_group do
    = navbar_item "Home", root_path
    = navbar_dropdown "WoW" do
      = navbar_item "Home", wow_home_path
      = navbar_item "Realms", wow_realms_path
      = navbar_item "Auctions", in_progress_wow_auctions_path
